.Circle{
    border-radius:50%;
    background-color:purple;
    position:absolute;
}
.Square{
    background-color:red;
    position:absolute;
}
.Rectangle{
    background-color:green;
    position:absolute;
}
.Triangle{
    width:0px;
    height:0px;
  background-color:lightblue;
  position:absolute;
}
#shapeContainer{
    height:600px;
    width:600px;
    background-color:lightblue;
    margin:auto;
    margin-top:2em;
    position:relative;
}
.buttonContainer{
    height:600px;
    width:200px;
    float:left;
    border:2px solid white;
}
.buttonStyle{
    height:50px;
    width:100px;
    background-color:purple;
    color:white;
    display:block;
    margin:1em;
}
.sidepanel{
    float:right;
    display:inline;
    color:white;
    border:2px solid white;
}
body{
    background-color:seagreen;
}
h1{
    color:white;
}